@media (min-width: 320px) {
	input {
		display: none;
	}
	main {
		font-size: 12px;
	}
}

@media (max-width: 481px) {
	main {
		flex-direction: column;
		font-size: 14px;
	}
}

@media (max-width: 641px) {
	main {
		flex-direction: column;
		color: pink;
		font-size: 16px;
	}
}

@media (max-width: 961px) {
	main {
		font-size: 18px;
		flex-direction: column;
	}
}

@media (max-width: 1025px) {
	header {
		width: 50%;
	}
	main {
		font-size: 20px;
	}
}

@media (max-width: 1281px) {
	header {
		font-size: 20px;
	}
	main {
		font-size: 22px;
	}
}

body {
	padding: 0;
	margin: 0;
}

header {
	width 100%;
	background: #f33;
}

header li {
	display: inline-block;
	margin-left: 15px;
}

header a {
	text-decoration: none;
	color: black;
}

.header-wrap {
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

input {
	margin-top: 15px;
}

main {
	display: flex;
	width: 75%;
	margin: 0;
}

section {
	width: 70%;
}

aside {
	width: 30%;
}